.layouts-leftsidebar-more:hover > button {
background-color: rgba(15, 20, 25, 0.1);
}
.layouts-leftsidebar-more > button{
     border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    transition: all 0.2s;
    cursor: default;
}
.layouts-leftsidebar-more > button svg {
    width: 23px;
    height: 23px;
}
.layouts-leftsidebar-more-disclosure-svg svg {
    width: 17.5px;
    height: 17.5px;
}
.layouts-leftsidebar-more-line{
    background-color: #eff3f4;
    width: 89%;
    height: 1px;
    text-align: center;
}